<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5em">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px">
        <h3>Total: <b><span class="red-color">{{counts.total}}</span></b> </h3>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px">
        <h3>Completed: <b><span class="green-color">{{counts.completed}}</span></b> </h3>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px">
        <h3>Pending: <b><span class="orange-color">{{counts.pending}}</span></b> </h3>
    </div>
</div>