<mat-toolbar color="primary">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" fxFlex="30">
                <img src="../../assets/img/4_sure_white.png" alt="Company Logo" width="70px">
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px" fxFlex="30">
                <span>Todo App</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="0px" fxFlex="30">
                <small>Hi, <b>{{ username || 'Guest' }}</b></small>
            </div>
        </div>
    </div>
</mat-toolbar>