<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1em">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="31">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <mat-checkbox></mat-checkbox>
            <span>{{ task.taskName }}</span>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15">
        <span [ngClass]="{'orange-bg': task.status == 'Pending', 'green-bg': task.status == 'Complete' }" class="chip">{{ task.status }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15">
        <span [ngClass]="{'primary-color': task.priority == 'Low', 'orange-color': task.priority == 'Average', 'red-color': task.priority == 'Urgent' }"><b> {{ task.priority }} </b></span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15">
        <span><b> {{ task.dueDate | date: 'mediumDate' }} </b></span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap=".25em">
            <mat-icon (click)="editTask(task)" class="orange-color pointer">edit</mat-icon>
            <mat-icon (click)="deleteTask(task.id)" class="red-color pointer">delete</mat-icon>
        </div>
    </div>
</div>