<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="19" fxFlex.xs="120px">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-checkbox [checked]="task.status === 'Completed'" (change)="toggleCheckbox($event.checked)"></mat-checkbox>
            <span class="checkbox-label">{{ task.taskName }}</span>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="19" fxFlex.xs="70px">
        <span [class]="task.status == 'Pending' ? 'orange-bg': 'green-bg'" class="chip">{{ task.status }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="19" fxFlex.xs="80px">
        <span [class]=" task.priority == 'Low' ? 'primary-color' : task.priority == 'Average' ? 'orange-color' : 'red-color'"><b> {{ task.priority }} </b></span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="19" fxFlex.xs="70px">
        <span><b> {{ task.dueDate | date: 'shortDate' }} </b></span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="19"  fxFlex.xs="70px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".25em">
            <mat-icon (click)="editTask(task)" class="orange-color pointer">edit</mat-icon>
            <mat-icon (click)="openConfirmDialog(task.id)" class="red-color pointer">delete</mat-icon>
        </div>
    </div>
</div>