/* You can add global styles to this file, and also import other style files */
// Theme Colors
$primary: #3f51b5;
$red: #DC3545;
$green: #4bb543;
$orange: #fea250;
$white: #fff;

html,
body,
app-container {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/img/background.jpg');
  background-position: center center;
  background-size: cover;
}

body, .block-width, app-confirm-dialog {
  width: 100%;
}


// Remove Default Margin Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.container-wrapper {
  height: 100vh;
}

.main-content-card {
  border-radius: 2em !important;
}

.section-padding {
  padding: 1.5em;
}

// Colors
.primary-color {
  color: $primary;
}

.orange-color {
  color: $orange;
}

.green-color {
  color: $green;
}

.red-color {
  color: $red;
}

.white-color,
.chip, .mat-mdc-snack-bar-container  {
  color: #ffffff !important;
}

// Background Colors
.primary-bg, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
  background-color: $primary !important;
}

.orange-bg {
  background-color: $orange !important;
}

.green-bg, .green-bg > .mdc-snackbar__surface {
  background-color: $green !important;
}

.chip {
  border-radius: 2em !important;
  padding: 5px 10px !important;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mat-snack-bar-container {
  color: rgba(255, 255, 255, 0.7);
  background: $primary;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  border-color: $primary !important;
}

.align-center {
  text-align: center;
}